.tAlignR {
	text-align : right;
}
.sbox {
    display: inline-block;
	position: relative;
	vertical-align : top;
	width : 280px;
}
.sbox > a {
    padding: 16.5px 17px;
	border: 1px solid #d7dae2;
	border-radius : 4px;
	width: calc(100% - 34px);
	min-height : 13px;
    display: block;
    font-size: 13px;
	text-align: left;
	color : #4d4f5c;
}

.sbox ul {
    position: absolute;
    top: 46px;
    border: 1px solid #d7dae2;
    /* border-top: none; */
    background-color: #fff;
    width: 100%;
    height: auto;
    max-height: 208px;
    overflow: auto;
    z-index: 10;
	display: none;
	font-size : 13px;
}
.sbox ul li {
    width: 100%;
    text-align: left;
}
.sbox ul li a {
	padding: 17px;
	width : auto;
	height : 100%;
	display : block;
}
.sbox:before {
    content: "";
    width: 9px;
    height: 5px;
    position: absolute;
    top: 23px;
    right: 17px;
    background: url(/saemaul/common/img/icon_dropDown.png) no-repeat center / cover;
}

input::placeholder {
	color : #cecfd0;
}
textarea::placeholder {
	color : #cecfd0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.checkBoxCase {
	position : relative;
	display : inline-block;
	width : 22px;
	height : 22px;
}
.radioCase {
	position : relative;
	display : inline-block;
	width : auto;
	height : auto;
}

input[type="checkbox"] {
	width : 100%;
	height : 22px;
	position : absolute;
	top : 0;
	right : 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance : none;
	outline : none;
	border : none;
	margin : 0;
	cursor : pointer;
}
input[type="radio"] {
	width : 100%;
	height : 30px;
	position : absolute;
	top : 0;
	right : 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance : none;
	outline : none;
	border : none;
	margin : 0;
	cursor : pointer;
}
input[type="checkbox"]:checked + label {
	display : block;
	width : 22px;
	height : 22px;
	background : url("/saemaul/manager/common/img/checkbox_full.png") no-repeat center / 100%;
}
input[type="checkbox"]:not(:checked) + label {
	display : block;
	width : 22px;
	height : 22px;
	background : url("/saemaul/manager/common/img/checkbox_empty.png") no-repeat center / 100%;
}

input[type="radio"]:checked + label {
	display : block;
	width : 30px;
	height : 30px;
	background : url("/saemaul/manager/common/img/radio_full.png") no-repeat center / 100%;
}
input[type="radio"]:not(:checked) + label {
	display : block;
	width : 30px;
	height : 30px;
	background : url("/saemaul/manager/common/img/radio_empty.png") no-repeat center / 100%;
}



.page_group {
    text-align: center;
    padding: 80px 0 120px;
}
.page_group.subPaging {
	padding : 10px 0;
}
.page_group .page_box {
    display: inline-block;
}
.page_group .page_box li.on {
	background-color: #959dae;
	border: 1px solid #959dae;
}
.page_group .page_box li {
    float: left;
    border: 1px solid #959dae;
    width: 33px;
	height: 33px;
	margin-left : 5px;
	border-radius : 4px;
}
.page_group .page_box li.on a {
	/* color: #3b3b3b; */
	color : #fff;
    font-weight: 400;
}
.page_group .page_box li a {
	display : block;
    width: 100%;
    height: 100%;
    line-height: 33px;
    font-size: 15px;
    color: #999999;
}
/* .page_group .page_box li.arrow.first a {
    background: url(/nonghyup/manager/common/img/icon_page_first.png) no-repeat center;
} */
.page_group .page_box li.arrow.prev a {
    background: url(/saemaul/manager/common/img/icon_page_prev.png) no-repeat center / cover;
}
.page_group .page_box li.arrow.next a {
    background: url(/saemaul/manager/common/img/icon_page_next.png) no-repeat center / cover;
}
/* .page_group .page_box li.arrow.end a {
    background: url(/nonghyup/manager/common/img/icon_page_end.png) no-repeat center;
} */














/* :: 아이콘 파트  open */
.dashboardIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_dashBoard_off.png) no-repeat center / cover;
}
.branchIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_branch_off.png) no-repeat center / cover;
}
.staffIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_staff_off.png) no-repeat center / cover;
}
.engineerIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_engineer_off.png) no-repeat center / cover;
}
.problemIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_problem_off.png) no-repeat center / cover;
}
.reportIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_report_off.png) no-repeat center / cover;
}
.dashboardIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_dashBoard_off.png) no-repeat center / cover;
}
.branchIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_branch_off.png) no-repeat center / cover;
}
.staffIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_staff_off.png) no-repeat center / cover;
}
.engineerIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_engineer_off.png) no-repeat center / cover;
}
.problemIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_problem_off.png) no-repeat center / cover;
}
.reportIcon {
	width : 16px;
	height : 16px;
	background : url(/saemaul/manager/common/img/icon_report_off.png) no-repeat center / cover;
}
/* :: 아이콘 파트  close */




/* :: 마진 그룹 파트 open */
.ml7 {
	margin-left : 7px;
}
.ml10 {
	margin-left : 10px;
}
.ml11 {
	margin-left : 11px;
}
.mt15 {
	margin-top : 15px;
}
/* :: 마진 그룹 파트 close */


/* :: 색상 그룹 파트 open */
.f_white {
	color : #fff;
}
.bg_emerald {
	background-color : #60af9e;
}
.bg_navy {
	background-color : #303847;
}
/* :: 색상 그룹 파트 close */


/* :: 앱솔루트 관련 파트 open */
.absoluteMR {
	position : absolute;
	top : 50%;
	right : 0;
	-webkit-transform : translateY(-50%);
	transform : translateY(-50%);
}
.absoluteR {
	position : absolute;
	right : 0;
}
/* :: 앱솔루트 관련 파트 close */
